thead {
    background-color: aqua;
}

tr {
    height: 50px;
}

table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



tr:nth-child(2n) {
    background-color: #e8edff;
}